<div ng-repeat="seedling in seedlings">
    <div ng-hide="waterVolume===0">
    <div>{{seedling.Name}}</div>
    <button ng-click="water(seedling)">Water</button>
    <button ng-click="calculateWaterVolume(seedling)">{{waterVolume}}</button>
     <div ng-show="seedling === expandedSeedling" >
    <div ng-repeat="plant in seedling.Plants">{{plant.PlantSpecie.Name}}</div>
    <button ui-sref="seedlingDetails({seedlingId: seedling.Id})">Go to details</button>
     </div>
    <button ng-click="toggleExpand(seedling)">Toggle card</button>
        </div>
</div>

<button ui-sref="addNewSeedling">Add new seedling</button>