<div>Name: <input type="text" ng-model="plant.Name" /></div>
<div>Water every <input type="text" ng-model="plant.WateringFrequencyDays" /> days with minimum of <input type="text" ng-model="plant.MinimalWaterAmountForWatering" /> liters</div>
<div>Color: <input type="text" ng-model="plant.Color" /></div>
<div>Months of flowering: <input type="text" ng-model="plant.MonthsOfFlowering" /></div>
<div> Maintence Guide: <input type="text" ng-model="plant.MaintenceGuide" /></div>
<button ng-click="updatePlant()">Save changes</button>
<div>{{savedMessage}}</div>